<div class="padding">
	<span>Review</span>
	<br>
	<br>
	<div layout="row" layout-xs="column">
		<md-input-container class="md-block" flex-gt-xs>
			<label>Your favorite comic book superhero</label>
			<input ng-model="superhero" disabled>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-xs>
			<label>Tv series that you are currently watching</label>
			<input ng-model="series" disabled>
		</md-input-container>
	</div>
	<div layout="row" layout-xs="column">
		<md-input-container class="md-block" flex-gt-xs>
			<label>Wich one do you use: bolacha or biscoito?</label>
			<input ng-model="biscuit" disabled>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-xs>
			<label>What is the best quote ever</label>
			<input ng-model="quote" disabled>
		</md-input-container>
	</div>
	<div layout="row" layout-wrap>
		<md-input-container class="md-block" flex-gt-xs>
			<label>Your favorite Star Wars movie</label>
			<input ng-model="selectedMovie" disabled>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-xs>
			<label>Your favorite GoT season</label>
			<input ng-model="selectedSeason" disabled>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-xs>
			<label>Your kind of food</label>
			<input ng-model="selectedFood" disabled>
		</md-input-container>
	</div>
</div>