<div class="padding">
	<div layout="row" layout-xs="column">
		<md-input-container flex>
			<label>Your favorite comic book superhero</label>
			<input ng-model="superhero">
		</md-input-container>
		<md-input-container flex>
			<label>Tv series that you are currently watching</label>
			<input ng-model="series">
		</md-input-container>
	</div>
	<div layout="row" layout-xs="column">
		<md-input-container flex>
			<label>Wich one do you use: bolacha or biscoito?</label>
			<input ng-model="biscuit">
		</md-input-container>
		<md-input-container flex>
			<label>What is the best quote ever</label>
			<input ng-model="quote">
		</md-input-container>
	</div>
</div>